@model IEnumerable<rm551478.Models.ItemPedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PratoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoUnitario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.PedidoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PratoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoUnitario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemPedidoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemPedidoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemPedidoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
